.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
}

.login-card {
    width: 400px;
    padding: 20px;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}