<div class="login-container">

    <mat-card class="login-card">

        <mat-card-header>

            <mat-card-title>

                SmartStore Login

            </mat-card-title>

        </mat-card-header>

        <mat-card-content>

            <form [formGroup]="loginForm" (ngSubmit)="login()">

                <!-- Email -->

                <mat-form-field appearance="outline" class="full-width">

                    <mat-label>Email</mat-label>

                    <input matInput type="email" formControlName="email" placeholder="Enter your email">

                    <mat-error *ngIf="loginForm.get('email')?.hasError('required') &&
                       loginForm.get('email')?.touched">

                        Email is required.

                    </mat-error>

                    <mat-error *ngIf="loginForm.get('email')?.hasError('email') &&
                       loginForm.get('email')?.touched">

                        Please enter a valid email.

                    </mat-error>

                </mat-form-field>

                <!-- Password -->

                <mat-form-field appearance="outline" class="full-width">

                    <mat-label>Password</mat-label>

                    <input matInput type="password" formControlName="password" placeholder="Enter your password">

                    <mat-error *ngIf="loginForm.get('password')?.hasError('required') &&
                       loginForm.get('password')?.touched">

                        Password is required.

                    </mat-error>

                    <mat-error *ngIf="loginForm.get('password')?.hasError('minlength') &&
                       loginForm.get('password')?.touched">

                        Password must be at least 6 characters.

                    </mat-error>

                </mat-form-field>

                <button mat-raised-button color="primary" class="full-width" type="submit"
                    [disabled]="loginForm.invalid">

                    Login

                </button>

            </form>

        </mat-card-content>

    </mat-card>

</div>