<div class="container-fluid py-4">

    <h2 class="fw-bold">Dashboard</h2>

    <h5 *ngIf="isLoggedIn">
        Welcome {{ userName }} 👋
    </h5>

    <h5 *ngIf="!isLoggedIn" class="text-danger">
        Please Login
    </h5>

    <p>
        Good Morning, Welcome to {{ applicationName }}
    </p>

    <div class="row mt-4">

        <div class="col-md-3 mb-3">

            <app-card>

                <h6 card-title>Total Products</h6>

                <div class="text-center">
                    <h2>{{ dashboard.totalProducts }}</h2>
                </div>

            </app-card>

        </div>

        <div class="col-md-3 mb-3">
            <app-card>

                <h6 card-title>Total Customers</h6>
                <div class="text-center">
                    <h2>{{ dashboard.totalCustomers }}</h2>
                </div>

            </app-card>
        </div>

        <div class="col-md-3 mb-3">
            <app-card>
                <h6 card-title>Total Orders</h6>
                <div class="text-center">
                    <h2>{{ dashboard.totalOrders }}</h2>
                </div>

            </app-card>
        </div>

        <div class="col-md-3 mb-3">
            <app-card>

                <h6 card-title>Total Revenue</h6>

                <div class="text-center">
                    <h2>{{ dashboard.totalRevenue | currency:'INR' }}</h2>
                </div>

            </app-card>
        </div>

    </div>

    <div class="card shadow-sm mt-4">

        <div class="card-header">
            Recent Orders
        </div>

        <div class="card-body">

            <ul class="list-group list-group-flush">

                <li class="list-group-item d-flex justify-content-between" *ngFor="let order of dashboard.recentOrders">

                    <span>{{ order.customer }}</span>

                    <strong>₹{{ order.amount }}</strong>

                </li>

            </ul>

        </div>

    </div>

</div>