.layout-container {
    height: 100vh;
}

.sidebar {
    width: 250px;
    background: var(--surface-color);
    border-right: 1px solid var(--border-color);
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background-color);
}

.content {
    flex: 1;
    padding: 25px;
    background: var(--background-color);
}

app-footer {
    margin-top: auto;
}