/* ==========================================
   Sidebar
========================================== */

.sidebar-menu {

    width: 250px;
    height: 100%;

    display: flex;
    flex-direction: column;

    background: var(--surface-color);

    border-right: 1px solid var(--border-color);

}

/* ==========================================
   Logo
========================================== */

.logo {

    display: flex;
    align-items: center;

    gap: 12px;

    padding: 22px 20px;

    font-size: 24px;

    font-weight: 700;

    color: var(--primary-color);

    border-bottom: 1px solid var(--border-color);

}

.logo mat-icon {

    color: var(--primary-color);

    font-size: 30px;

    width: 30px;

    height: 30px;

}

/* ==========================================
   Navigation
========================================== */

mat-nav-list {

    padding: 18px 12px;

}

/* ==========================================
   Menu Item
========================================== */

a[mat-list-item] {

    margin-bottom: 8px;

    border-radius: 10px;

    color: var(--text-color);

    transition: all .25s ease;

}

/* Text */

a[mat-list-item] span {

    font-size: 15px;

    font-weight: 500;

}

/* Icons */

a[mat-list-item] mat-icon {

    color: #64748b;

}

/* Hover */

a[mat-list-item]:hover {

    background: #eff6ff;

}

a[mat-list-item]:hover mat-icon {

    color: var(--primary-color);

}

/* Active */

a.active {

    background: var(--primary-color) !important;

}

a.active span,
a.active mat-icon {

    color: white !important;

}

/* Divider */

mat-divider {

    border-top-color: var(--border-color);

}