<div class="sidebar-menu">

    <h3 class="title">
        InventoryPro
    </h3>

    <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">

        🏡 Home

    </a>

    <a
        routerLink="/dashboard"
        routerLinkActive="active">

        📊 Dashboard

    </a>

    <a
        routerLink="/products"
        routerLinkActive="active">

        📦 Products

    </a>

    <a
        routerLink="/categories"
        routerLinkActive="active">

        📁 Categories

    </a>

    <!-- Future Modules -->

    <!--
    <a routerLink="/suppliers" routerLinkActive="active">
        🚚 Suppliers
    </a>

    <a routerLink="/sales" routerLinkActive="active">
        💰 Sales
    </a>

    <a routerLink="/reports" routerLinkActive="active">
        📊 Reports
    </a>
    -->

</div>