<mat-toolbar class="navbar">

    <div class="navbar-left">

        <button
            mat-icon-button
            class="menu-btn"
            (click)="toggleSidebar.emit()">

            <mat-icon>menu</mat-icon>

        </button>

        <span class="page-name">
            SmartStore
        </span>

    </div>

    <div class="search-box">

        <mat-icon>search</mat-icon>

        <input
            type="text"
            placeholder="Search products...">

    </div>

    <div class="navbar-right">

        <button mat-icon-button>

            <mat-icon>notifications</mat-icon>

        </button>

        <div class="profile">

            <div class="avatar">
                V
            </div>

            <span>Admin</span>

        </div>

    </div>

</mat-toolbar>