.navbar {
    height: 70px;
    background: #0d6efd;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;
    box-sizing: border-box;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.user {
    font-size: 18px;
}

.icon {
    font-size: 20px;
}