<mat-toolbar class="navbar">

    <div class="navbar-left">

        <button mat-icon-button class="menu-btn" (click)="toggleSidebar.emit()">

            <mat-icon>menu</mat-icon>

        </button>

        <span class="page-name">
            SmartStore
        </span>

    </div>

    <div class="search-box">

        <mat-icon>search</mat-icon>

        <input type="text" placeholder="Search products...">

    </div>

    <div class="navbar-right">

        <button mat-icon-button>

            <mat-icon>notifications</mat-icon>

        </button>

        <mat-form-field appearance="outline" class="language-select">

            <mat-select [value]="currentLanguage" (selectionChange)="changeLanguage($event.value)">

                <mat-option value="en">
                    English
                </mat-option>

                <mat-option value="es">
                    Spanish
                </mat-option>

            </mat-select>

        </mat-form-field>

        <div class="profile" *ngIf="isLoggedIn">

            <div class="avatar">

                {{ userName.charAt(0) }}

            </div>

            <span>

                {{ userName }}

            </span>

        </div>

        <button *ngIf="!isLoggedIn" mat-raised-button color="primary" routerLink="/login">

            Login

        </button>

        <button *ngIf="isLoggedIn" mat-raised-button color="primary" (click)="logout()">

            Logout

        </button>

    </div>

</mat-toolbar>